

.Me {
  max-width: 350px;
  max-height: 350px;
  filter: none;
  transition: filter 1s;
}

.info{
  line-height:1.6;
  max-width: 600px;
  font-size:20px;
  margin-left: 50px;
}
@media only screen and (max-width: 700px) {
  .contents{
    display: inline-block;
  }
  .Me{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .info{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 90%;
  }
}
