footer {
  text-align: center;
  color: white;
  bottom: 0;
  right: 0;
}
.icon {
  color: white;
}

.socials {
    font-size: 300%;
    border-radius: 400%;
    text-align: center;
    margin: 20px;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #FFFFFF;

}

.socials:hover {
  background-color: #757575
}

.stuff {
  opacity: 1;
  margin-top: 100px;
  width: 100vw;
}

.footerbottom {
  background-color: #000000;
  width: 100%;
}
.bottom {
  width: 100vw;

}
