body {
  margin: 0;
}

.section {
  float: left;
}

li a {
  display: block;
  color: white;
  font-family: "Architects Daughter";
  font-display: swap;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition-timing-function: ease-in;
  behavior: smooth;
}

.section:hover {
  transition:  1s;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.welcometop {
  margin-left: 100px;
}
.header {
  padding-top: 40px;
  padding-bottom: 150px;
  font-family: "Space Mono";
  font-display: swap;
  font-size: 32px;
  text-align: left;
  color: white;
}
@media only screen and (min-width: 1200px) {
  .ufo {
    float: right;
    margin-right: 150px;
    margin-top: 150px;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
  }

  @-webkit-keyframes mover {
      0% { transform: translateY(0); }
      100% { transform: translateY(-20px); }
  }
  @keyframes mover {
      0% { transform: translateY(0); }
      100% { transform: translateY(-20px); }
  }

}
@media only screen and (max-width: 1199px) {
  .ufo {
    position: absolute;
    opacity: 0
  }
}
@media only screen and (min-width: 800px) {
  .sidebar {
    float: right;
    display: block;
    list-style-type:none;
    margin-right: 50px;
    pointer-events: none;
  }
  .welcome {
    font-size: 100px
  }
  .list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #000000;
    opacity: 0;
    z-index: 30;
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    transition: opacity 0.6s ease-out, transform .6s ease-out;
    will-change: opacity;
    pointer-events: none;
  }

}
@media only screen and (max-width: 799px) {
  .sidebar{
    position: absolute;
    opacity: 0;
  }
  .welcome {
    font-size: 70px
  }
  .welcometop {
    margin-left: 70px;
  }
  .list {
    position: absolute;
    opacity: 0;
  }

}
@media only screen and (min-width: 400px) and (max-width: 799px) {
  .welcometop {
    margin-left: 50px;
  }
}

.background {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom:0;
  right: 0;
  left: 0;
}
.section2:hover {
  opacity: .5;
}
