.paperResume{
  border-radius: 400%;
  font-size: 120%;
  margin: auto;
  width: 150px;
  height: 150px;
  background-color: white;
  text-align: center;
  margin-top: 50px;
}
.paperResume:hover {
  background-color: #757575
}
.fa-file-pdf{
  font-size: 300%;
  margin-top: 20px;
  color:black;
  padding-bottom: 25px;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
}
.experience{
  display: flex;
  max-width: 1000px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.ologo{
  margin-top: 25px;
}

.workplace{
  text-align: center;
  font-size: 32px;
}

.job-date{
  text-align: center;
  font-size: 20px;
}
