.features {
  overflow: hidden;
  width: 100vw;
}
body {
  overflow: hidden;
  background-color: #000000;
  width: 100vw;
}
.content {
    max-height: 0px;
    transition: max-height 1.5s ease-in-out;
}
html {
  scroll-behavior: smooth;
}
